
<style>

head {
  font-family: 'Annie Use Your Telescope', cursive;
 
}

body {
  font-family: 'Annie Use Your Telescope', cursive;
 
}


header {
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: #356;
    color: #fff;
    padding: 20px;
    text-alignment: center;
    width: auto;
}

nav ul {
    font-family: 'Annie Use Your Telescope', cursive;
    list-style-type: none;
    margin: auto;
    padding: 30;
}

nav ul li {
    font-family: 'Annie Use Your Telescope', cursive;
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    font-family: 'Annie Use Your Telescope', cursive;
    color: #fff;
    text-decoration: none;
}

main {
    font-family: 'Annie Use Your Telescope', cursive;
    padding: 25px;
}

h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 35px;
  text-align: center;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    text-alignment: center;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.regular-text {
    font family: 'Annie Use Your Telescope',sans-serif;
}

.egypt 
{
padding: 10px;
margin:none;
alignment: center;
}



.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.fb-like {
    padding: 10px;
margin:none;
alignment: center;
}

</style>

