
<style>

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}



head {
  font-family: 'Annie Use Your Telescope', cursive;

  
}
 
}

body {
  font-family: 'Annie Use Your Telescope', cursive;
 
}


    

    
    
   
  header {
      font-family: 'Annie Use Your Telescope', cursive;
    background-color: #356;
    color: #fff;
    padding: 20px;
    text-alignment: center;
}


nav ul {
    font-family: 'Annie Use Your Telescope', cursive;
    list-style-type: none;
    margin: auto;
    padding: 30;
}

nav ul li {
    font-family: 'Annie Use Your Telescope', cursive;
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    font-family: 'Annie Use Your Telescope', cursive;
    color: #fff;
    text-decoration: none;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.body1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 80px;
}

.text1 {
  position: absolute;
  width: 700px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

.p1 {
  display: inline-block;
  vertical-align: top;
  margin: 10;
}

.word {
  position: absolute;
  width: 500px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

main {
    font-family: 'Annie Use Your Telescope', cursive;
    padding: 25px;
}

h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 35px;
  text-align: center;
}

p {
    font-family: sans-serif;
    font-size: 30px;
    text-alignment: center;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.text {
     font-family: 'Annie Use Your Telescope', cursive;
    font-size: 30px;
    text-alignment: center;
}

.regular-text {
    font family: 'Annie Use Your Telescope',sans-serif;
}



.wrap
{
 word-wrap: auto;   
 object-fit: scale-down;
max-width: 70%
}


.column {
  float: left;
  width: 49%;
 


}
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



.footer {  
font-family: 'Annie Use Your Telescope', cursive; 
    padding: 20px;
margin:auto;
alignment: center;
 width: auto;
 display: block;
}









</style>

