Result Skip Results Iframe
body {
    margin: 0;
    font-family: Arial, sans-serif;
text-alignment: center;
 
}


header {
    background-color: #356;
    color: #fff;
    padding: 20px;
    text-alignment: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 30;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1 {
    font-size: 35px;
  text-align: center;
}

p {
    font-size: 30px;
    text-alignment: center;
    
}

.egypt 
{
padding: 10px;
margin:none;
alignment: center;
}
